@import "./var.scss";
/*Seccion MOBILE */
body {
    background-color: #efefef;
}

/*Navbar */
.form__search{
    width: 20vw;
}
.button__post{
    border-color:  rgb( 59, 73, 223);
    color: rgb( 59, 73, 223);;
}

.button__post:hover{
    background-color: rgb( 59, 73, 223);
    color: #efefef;
}
.icon__size {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: inline-block;
}
.container_nav_burger ul li{
    list-style: none;
    padding-inline-start: 0;
}
.container_nav_burger ul{
    padding-left: 0;
}

.container_nav_burger a{
    text-decoration: none;
    color: black;
}
/*Aside izquierda (Nefer) */
.tags__section {
    display: none;
}

/*Aside de la derecha Kathy*/
.right {
  width: 40%;
  border: 20px solid lightgray;
  background-color: white;
  border: 3px solid lightgray;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}

.each {
  padding: 10px;
  border-top: 3px solid lightgray;
}

.createListing {
  text-align: center;
}

.seeAll {
  color: blue;
}

.sub {
  color: gray;
}
/*Main Christian*/


    .nav-link{
        text-decoration: none;
      }
    
/*Aside de la derecha Mich*/




/*footer*/
footer{
    background-color: #bdbdbd;
}
.footer__nav{
   list-style: none;
}


.aside__right {
      width: 297px;
    }

  
    .div__link--blue {
      margin-left: 50px;
      padding-bottom: 10px;
      
    }

    .card-header {
      display: inline-block;
      font-size: 1.5rem;
    }

    .icon__documatic {
      width: 48px;
      height: 48px;
      position: absolute;
      top: 10px;
    }

    .h3__link--blue {
      text-decoration: none;
    
    }

   
    .list-group-item {
      //  height: 126px;
       font-size: 0.875rem;
       padding-top: 0.25rem;
       color: #717171;
       text-decoration: none;
      
    }

    .text__location-toronto {
      font-size: 0.70rem;
      font-weight: bold;
      text-transform: uppercase;
      color: rgb( 82, 82, 82 );
    }

    .span__text {
      font-size: 0.70rem;      
      text-transform: uppercase;
      color: rgb( 82, 82, 82 );
    }

    .card-header {
     height: 45px;

    }    
 
    .colunm__aside--tree {
      height: 505px;
      align-items: center;
      padding: 5px;
    }

    .img__aside--tree {
      width: 90%;
      height: 136px;
      padding: 1%;
    }

    .button_readfull--blue {
      width: 90%;
    }
/*Aside izquierda (mario) */
.post_socials{
  padding-left: 50px;
  height: 100%;
  position: sticky;
  top: 0;
}


.body_card{
  width: 805px;
}

.crayons-article__cover__image{
  width: 100%;
  object-fit: cover;
  height: 25vw;
  display: block;
}



.post_date{
  font-size: 13px;
}

.post_title{
  font-weight: 800;
  font-size: 45px;
}

.post_subtitle{
  font-weight: 500;
  font-size: 25px;
}

.post_image{
  width: 100%;;
}

.top_comments{
  font-weight: 500;
  font-size: 25px;
}

.first_button{
  background-color: #ebecfc;
}

.post_rules{
  font-size: 12px;
}

.body_card_read{
  width: 100%;
}

.crayons-avatar_image{
  height: 50px;
  width: 40px;
}

.read_next_info{
  font-size: 20px;
}

.read_next_date{
  font-size: 17px;
}


/*Seccion  Tableta*/
@media only screen and (min-width:768px) {

    

    /*Aside izquierda (Nefer) */

.tags__section {
    display: block;
}


}

    /*Aside de la derecha Kathy*/

    /*Main Christian*/


    /*Aside de la derecha Mich*/




/*footer*/

@media only screen and (min-width:1024px){

    /*footer*/
}

@media only screen and (min-width:1024px) {

    /*Navbar */
    /*Aside izquierda (Nefer) */


    /*Aside de la derecha Kathy*/

    /*Main Christian*/


    /*Aside de la derecha Mich*/



    /*footer*/
}
