/*Seccion MOBILE */
 /*Navbar */
/*Aside izquierda (Nefer) */


    /*Aside de la derecha Kathy*/

    /*Main Christian*/

    
    /*Aside de la derecha Mich*/



/*footer*/





/*Seccion  Tableta*/
/*@media only screen and (min-width:768px){*/
     /*Navbar */
/*Aside izquierda (Nefer) */


    /*Aside de la derecha Kathy*/

    /*Main Christian*/

    
    /*Aside de la derecha Mich*/



/*footer*/
/*}*/
@media only screen and (min-width:1024px){
    /*Navbar */
/*Aside izquierda (Nefer) */


   /*Aside de la derecha Kathy*/

   /*Main Christian*/

   
   /*Aside de la derecha Mich*/ 
   .watercooler__section {
    margin-top: 60px;
   }
 .watercooler__header:hover {
    color: rgb(59, 73, 223, 1); 
 }
 .watercooler__link:hover {
    color: rgb(59, 73, 223, 1);
}
.new__img {
    width: 33px;
    height: 26px;
}
.discuss__header:hover {
    color: rgb(59, 73, 223, 1); 
}
.discuss__link:hover {
    color: rgb(59, 73, 223, 1);
}
/*footer*/
}