@import "./var.scss";
/*Seccion MOBILE */
body {
    background-color: #efefef;
}

/*Navbar */
.form__search{
    width: 20vw;
}
.button__post{
    border-color: rgb( 59, 73, 223);
    color: rgb( 59, 73, 223);
    display: none;
}

.button__post:hover{
    background-color:rgb( 59, 73, 223);
    color: #efefef;
}
.icon__size {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: inline-block;
}
.container_nav_burger ul li{
    list-style: none;
    padding-inline-start: 0;
}
.container_nav_burger ul{
    padding-left: 0;
}

.container_nav_burger a{
    text-decoration: none;
    color: black;
}
.container_burger a {
    text-decoration: none;
    color: black;
}
.container_burger ul li{
    list-style: none;
    padding-inline-start: 0;
}
.container_burger ul{
    padding-left: 0;
}
/*Aside izquierda (Nefer) */
.tags__section {
    display: none;
}

/*Aside de la derecha Kathy*/
.right {
  border: 20px solid lightgray;
  background-color: white;
  border: 3px solid lightgray;
  border-radius: 10px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px;
}

.each {
  padding: 10px;
  border-top: 3px solid lightgray;
}

.createListing {
  text-align: center;
}

.seeAll {
  color: blue;
}

.sub {
  color: gray;
}
/*Main Christian*/


    .nav-link{
        text-decoration: none;
      }
    
/*Aside de la derecha Mich*/
.discuss_catercoller__section {
    display:flex;
    flex-direction:column;
    background-color: #efefef;
    
}
   
 .watercooler__section {
    margin-top: 60px;
   }
 .watercooler__header:hover {
    color: rgb(59, 73, 223, 1); 
 }
 .watercooler__link:hover {
    color: rgb(59, 73, 223, 1);
 }
 .new__img {
    width: 33px;
    height: 26px;
 }
 .discuss__header:hover {
    color: rgb(59, 73, 223, 1); 
 }
 .discuss__link:hover {
    color: rgb(59, 73, 223, 1);
 }
/*footer*/




/*footer*/
footer{
    background-color: #bdbdbd;
}
.footer__nav{
   list-style: none;
}




/*Seccion  Tableta*/
@media only screen and (min-width:768px) {

    

    /*Aside izquierda (Nefer) */

.tags__section {
    display: block;
}


}

    /*Aside de la derecha Kathy*/

    /*Main Christian*/


    /*Aside de la derecha Mich*/




/*footer*/



@media only screen and (min-width:1024px) {

    /*Navbar */
    .button__post{
        display: inline;
    }
    /*Aside izquierda (Nefer) */


    /*Aside de la derecha Kathy*/

    /*Main Christian*/


    /*Aside de la derecha Mich*/



    /*footer*/
}
