/*Seccion MOBILE */
 /*Navbar */
/*Aside izquierda (mario) */



.post_socials{
  padding-left: 50px;
}


.body_card{
  width: 805px;
}

.crayons-article__cover__image{
  width: 100%;
  object-fit: cover;
  height: 25vw;
  display: block;
}

// .rounded-circle{
//   margin-left: 70px;
//   margin-top: 30px;
// }

.post_date{
  font-size: 13px;
}





// .card-text{
//   padding: 5px;
// }
// .post_main_information{
//   width: 805px;
//   height 340
//   position: relative;
//   left:95px;
//   margin-top: 70px;

// }

// .post_main{
//   position: relative;
//   right: 90px;
  
// }

// .post_picture_user{
//   position: relative;
//   left:15px;
//   top:15px;
// }

// .post_name_user{
//   position: relative;
//   right: 32px;
//   top: 15px;
// }

// .post_user_date{
//   position: relative;
//   right: 32px;
//   top:3px;
//   font-size: 12px;
// }

    /*Aside de la derecha victor*/

    /*Main mario*/





/*footer*/





/*Seccion  Tableta*/
@media only screen and (min-width:768px){
  /*Aside izquierda (mario) */


    /*Aside de la derecha victor*/

    /*Main mario*/





/*footer*/
}


@media only screen and (min-width:1024px){
   /*Aside izquierda (mario) */


    /*Aside de la derecha victor*/

    /*Main mario*/





/*footer*/
}